<div class="container-fluid">
  <h1>My Clients</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Last</th>
          <th scope="col">First</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of currentPage">
          <td>{{ client.name.last }}</td>
          <td>{{ client.name.first }}</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<button
  (click)="nextPage(pagedClients.indexOf(currentPage))"
  [disabled]="pagedClients.indexOf(currentPage) + 1 >= pagedClients.length"
>
  Next Page
</button>
<button
  (click)="previousPage(pagedClients.indexOf(currentPage))"
  [disabled]="pagedClients.indexOf(currentPage) <= 0"
>
  Previous Page
</button>
<p>Page {{ pagedClients.indexOf(currentPage) + 1 }} of {{ pagedClients.length }}</p>
