/* Every odd child that is a tr element of tbody gets a gray background */
tbody > tr:nth-child(odd) {
  background: transparentize(#2b2b2b, 0.75);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky-header {
  overflow-y: auto;
  height: 65vh;
}
.sticky-header thead th {
  position: sticky;
  top: 0;
}

/* Just common table stuff. Really. */
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 8px 16px;
}
th {
  background: #eee;
}

.btn:focus {
  outline: none !important;
}

button > svg-icon {
  margin-bottom: 1.5vh;
}

.neumorphic-btn {
  margin: 0 16px 0 16px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  color: #6d7587;
  background-color: var(--back-color);
  /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3),
              -2px -2px 4px 2px rgba(255, 255, 255, 1),
              inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
              inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2),
    inset 7px 7px 15px rgba(55, 84, 170, 0),
    inset -7px -7px 20px rgba(255, 255, 255, 0),
    0px 0px 4px rgba(255, 255, 255, 0) !important;
  transition: box-shadow 0.25s ease !important;
}

.neumorphic-btn:active {
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 7px 7px 15px rgba(55, 84, 170, 0.15),
    inset -7px -7px 20px rgba(255, 255, 255, 1),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}
