<div class="container-fluid">
  <h1>My Clients</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Last</th>
          <th scope="col">First</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{ client.name.last }}</td>
          <td>{{ client.name.first }}</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
